
GameOfDice.UnitTests/obj/GameOfDice.UnitTests.csproj.nuget.g.props
.vs/GameOfDice/DesignTimeBuild/.dtbcache.v2
.vs/GameOfDice/v17/.futdcache.v1
.vs/GameOfDice/v17/.suo
GameOfDice.UnitTests/bin/Release/net6.0/CoverletSourceRootsMapping
GameOfDice.UnitTests/obj/GameOfDice.UnitTests.csproj.nuget.dgspec.json
GameOfDice.UnitTests/obj/GameOfDice.UnitTests.csproj.nuget.g.targets
GameOfDice.UnitTests/obj/project.assets.json
GameOfDice.UnitTests/obj/project.nuget.cache
GameOfDice.UnitTests/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
GameOfDice.UnitTests/obj/Release/net6.0/GameOfDice.UnitTests.AssemblyInfo.cs
GameOfDice.UnitTests/obj/Release/net6.0/GameOfDice.UnitTests.AssemblyInfoInputs.cache
GameOfDice.UnitTests/obj/Release/net6.0/GameOfDice.UnitTests.assets.cache
GameOfDice.UnitTests/obj/Release/net6.0/GameOfDice.UnitTests.csproj.AssemblyReference.cache
GameOfDice.UnitTests/obj/Release/net6.0/GameOfDice.UnitTests.GeneratedMSBuildEditorConfig.editorconfig
GameOfDice/bin/Release/net6.0/GameOfDice.deps.json
GameOfDice/bin/Release/net6.0/GameOfDice.dll
GameOfDice/bin/Release/net6.0/GameOfDice.exe
GameOfDice/bin/Release/net6.0/GameOfDice.pdb
GameOfDice/bin/Release/net6.0/GameOfDice.runtimeconfig.json
GameOfDice/GameOfDice.csproj.user
GameOfDice/obj/GameOfDice.csproj.nuget.dgspec.json
GameOfDice/obj/GameOfDice.csproj.nuget.g.props
GameOfDice/obj/GameOfDice.csproj.nuget.g.targets
GameOfDice/obj/project.assets.json
GameOfDice/obj/project.nuget.cache
GameOfDice/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
GameOfDice/obj/Release/net6.0/apphost.exe
GameOfDice/obj/Release/net6.0/GameOfDice.AssemblyInfo.cs
GameOfDice/obj/Release/net6.0/GameOfDice.AssemblyInfoInputs.cache
GameOfDice/obj/Release/net6.0/GameOfDice.assets.cache
GameOfDice/obj/Release/net6.0/GameOfDice.csproj.AssemblyReference.cache
GameOfDice/obj/Release/net6.0/GameOfDice.csproj.CoreCompileInputs.cache
GameOfDice/obj/Release/net6.0/GameOfDice.csproj.FileListAbsolute.txt
GameOfDice/obj/Release/net6.0/GameOfDice.dll
GameOfDice/obj/Release/net6.0/GameOfDice.GeneratedMSBuildEditorConfig.editorconfig
GameOfDice/obj/Release/net6.0/GameOfDice.genruntimeconfig.cache
GameOfDice/obj/Release/net6.0/GameOfDice.GlobalUsings.g.cs
GameOfDice/obj/Release/net6.0/GameOfDice.pdb
GameOfDice/obj/Release/net6.0/PublishOutputs.23b13c367d.txt
GameOfDice/obj/Release/net6.0/PublishOutputs.f7b1c72926.txt
GameOfDice/obj/Release/net6.0/ref/GameOfDice.dll
GameOfDice/obj/Release/net6.0/refint/GameOfDice.dll
GameOfDice/Properties/PublishProfiles/FolderProfile.pubxml
GameOfDice/Properties/PublishProfiles/FolderProfile.pubxml.user
